packages/

ShogoSyncService/bin/
ShogoSyncService/obj/

*.user

.vs/

Shogo.PingBack/bin/
Shogo.PingBack/obj/

Shogo.Shared/bin/
Shogo.Shared/obj/

Shogo.UserServerNotify/bin/
Shogo.UserServerNotify/obj/

Shogo.GameCluster/bin/
Shogo.GameCluster/obj/

WordPlay.Shared/bin/

WordPlay.Shared/obj/
